services:
  registry:
    image: registry:{{ docker_registry_image_version }}
    container_name: docker_registry
    restart: unless-stopped
    ports:
      - "{{ docker_registry_port }}:5000"
    volumes:
      - {{ docker_registry_storage_path }}:/var/lib/registry
      - {{ docker_registry_service_directory }}/config.yml:/etc/docker/registry/config.yml
    networks:
      - {{ docker_registry_network }}

networks:
  {{ docker_registry_network }}:
    driver: bridge
    external: true