services:
  wireguard:
    image: {{ wireguard_image }}
    container_name: wireguard
    cap_add:
      - NET_ADMIN
      - SYS_MODULE
    environment:
      - PUID={{ wireguard_user_id }}
      - PGID={{ wireguard_group_id }}
      - TZ={{ wireguard_timezone }}
      - SERVERURL={{ wireguard_server_url }}
      - SERVERPORT={{ wireguard_port }}
      - PEERS={{ wireguard_peers | length }}
      - PEERDNS=auto
      - INTERNAL_SUBNET={{ wireguard_internal_subnet }}
      - ALLOWEDIPS={{ wireguard_allowed_ips }}
      - PERSISTENTKEEPALIVE_PEERS={{ wireguard_persistent_keepalive }}
      - LOG_CONFS=true
    volumes:
      - {{ wireguard_config_directory }}:/config
      - /lib/modules:/lib/modules
    ports:
      - "{{ wireguard_port }}:{{ wireguard_port }}/udp"
    sysctls:
      - net.ipv4.conf.all.src_valid_mark=1
    restart: unless-stopped
    networks:
{% for network in wireguard_networks %}
      - {{ network }}
{% endfor %}

networks:
{% for network in wireguard_networks %}
  {{ network }}:
    driver: bridge
    external: true
{% endfor %}
