{
  "port": {{ filebrowser_port }},
  "baseURL": "{{ filebrowser_base_url }}",
  "address": "{{ filebrowser_address }}",
  "log": "/var/log/filebrowser/filebrowser.log",
  "database": "/database/filebrowser.db",
  "root": "/srv"
}
